@use '@/styles/variables.scss' as var;
@use '@/styles/utils.scss' as utils;
@use '@/styles/typekit.scss' as typekit;
@use '@/styles/breakpoints.module.scss' as bp;
@use '@/styles/animations.module.scss' as animations;

.workExperience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workDetails {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: utils.pxToRem(128px);
  height: utils.pxToRem(780px);

  @include animations.fadeInFast;

  &Fade {
    @include animations.fadeOutFast;
  }

  &Headers {
    @include typekit.navbar;
  }

  &Name {
    display: flex;
    justify-content: center;
    @include typekit.work-name;
    grid-column: 1/-1;
  }

  &Skills {
    grid-column: 1/-1;
  }
}

.thumbnailGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: utils.pxToRem(64px);
  margin-top: utils.pxToRem(32px);
}

.thumbnail {
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  //   &::before {
  //     content: '';
  //     position: absolute;
  //     display: block;
  //     width: 100%;
  //     height: 2px;
  //     bottom: 10px;
  //     background-color: #000;
  //     transform: scaleX(0);
  //     transform-origin: top left;
  //     transition: transform 0.5s ease;
  //   }

  //   &:hover::before {
  //     transform: scaleX(1);
  //   }

  &Image {
    width: 100%;
  }
}

.clickToLearn {
  margin-top: utils.pxToRem(32px);
  @include typekit.small-text;
  font-style: italic;
}
