@use '@/styles/variables.scss' as var;
@use '@/styles/utils.scss' as utils;
@use '@/styles/typekit.scss' as typekit;
@use '@/styles/breakpoints.module.scss' as bp;
@use '@/styles/animations.module.scss' as animations;

.workExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workDetails {
  display: grid;
  grid-template-columns: auto auto;
  @include animations.fadeInFast;
  column-gap: utils.pxToRem(16px);

  &Fade {
    @include animations.fadeOutFast;
  }

  &Headers {
    @include typekit.navbar;
  }

  &Name {
    display: flex;
    justify-content: center;
    @include typekit.work-name;
    grid-column: 1/-1;
  }

  &Skills {
    grid-column: 1/-1;
  }

  @include bp.desktop {
    column-gap: utils.pxToRem(128px);
  }
}

.thumbnailGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: utils.pxToRem(64px);
  margin-top: utils.pxToRem(32px);
}

.thumbnail {
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }

  &Image {
    width: 100%;
  }
}

.clickToLearn {
  margin-top: utils.pxToRem(32px);
  @include typekit.small-text;
  font-style: italic;
}
