@use '@/styles/variables.scss' as var;
@use '@/styles/utils.scss' as utils;
@use '@/styles/typekit.scss' as typekit;
@use '@/styles/breakpoints.module.scss' as bp;
@use '@/styles/animations.module.scss' as animations;

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var.$page-color;
  border: 1px solid grey;
  border-radius: utils.pxToRem(50px);
  box-shadow: var.$box-shadow;
  padding: utils.pxToRem(16px);
  transition: border-color 0.3s ease, border-width 0.3s ease;

  &:hover {
    cursor: pointer;
    border-color: var.$accent-color;
    border-width: 3px;
  }
}

.title {
  @include typekit.navbar;
}
