@use './variables.scss' as var;

$font: 'Jost', 'serif';

@mixin title {
  font-family: $font;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
}

@mixin subtitle {
  font-family: $font;
  font-weight: 300;
  font-size: 32px;
  line-height: 1;
}

@mixin navbar {
  font-family: $font;
  font-weight: 500;
  font-size: var.$font-size;
}

@mixin header {
  font-family: $font;
  font-weight: 500;
  font-size: 32px;
}

@mixin body {
  font-family: $font;
  font-weight: 300;
  font-size: var.$font-size;
}

@mixin small-text {
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
}
