@use '@/styles/variables.scss' as var;
.main {
  padding-top: var.$navbar-height;
}

.header {
  position: sticky;
  top: var.$navbar-top-offset;
  height: var.$navbar-height;
  z-index: var.$z-index-navbar;
}
