@use '@/styles/variables.scss' as var;
@use '@/styles/utils.scss' as utils;
@use '@/styles/breakpoints.module.scss' as bp;
@use '@/styles/animations.module.scss' as animations;
@use '@/styles/typekit.scss' as typekit;

.wrapper {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  position: sticky;
  top: utils.pxToRem(20px);
  height: var.$navbar-height;
  z-index: var.$z-index-navbar;
}

.logo {
  width: utils.pxToRem(64px);

  &:hover {
    cursor: pointer;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var.$page-color;
  width: 80%;
  border-radius: utils.pxToRem(20px);
  border: 2px solid grey;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  height: var.$navbar-height;
  @include animations.loadSlideFadeDown;

  &Leaving {
    @include animations.slideOutY;
  }

  &Sticky {
    box-shadow: var.$box-shadow;
  }

  &Toggled {
    border-radius: 0;
    box-shadow: 0;
  }

  @include bp.desktop {
    flex-direction: row;
    overflow: hidden;
  }

  &Constant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 utils.pxToRem(48px);
    width: 65%;
    height: 100%;

    @include typekit.navbar;
  }

  &Link {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -5px;
      background-color: #000;
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.links {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var.$page-color;
  width: 100%;
  justify-content: space-evenly;

  @include typekit.navbar;

  @include bp.desktop {
    flex-direction: row;
  }

  &Toggled {
    position: absolute;
    box-shadow: var.$box-shadow;
    border-radius: 0 0 4px 4px;
    top: 100%;
    @include animations.slideInY;
  }

  &Leaving {
    @include animations.slideOutY;
  }
}

.burgerIcon {
  position: absolute;
  right: utils.pxToRem(48px);
  &:hover {
    cursor: pointer;
  }
}
