@use '../../styles/typekit.scss' as typekit;
@use '../../styles/utils.scss' as utils;

.footer {
  @include typekit.caption;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: utils.pxToRem(64px);
}
