@use '@/styles/variables.scss' as var;
@use '@/styles/typekit.scss' as typekit;
@use '@/styles/utils.scss' as utils;
@use '@/styles/animations.module.scss' as animations;
@use '@/styles/breakpoints.module.scss' as bp;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: utils.pxToRem(var.$top-padding)
    utils.pxToRem(var.$mobile-side-padding);
  position: relative;
  @include animations.fadeIn;

  @include bp.desktop {
    padding: utils.pxToRem(var.$top-padding)
      utils.pxToRem(var.$desktop-side-padding);
  }
}

.title {
  display: flex;
  align-items: center;
  @include typekit.header;

  &Icon {
    position: absolute;
    width: utils.pxToRem(64px);
    top: calc(var.$top-padding - 10px);
    left: var.$mobile-side-padding;
    transform: rotate(-15deg);

    @include animations.fadeIn;

    &Fade {
      @include animations.fadeOut;
    }

    @include bp.desktop {
      top: calc(var.$top-padding - 20px);
      left: calc(var.$desktop-side-padding - 20px);
    }
  }
}

.body {
  @include typekit.body;

  margin-top: utils.pxToRem(20px);

  &Fade {
    @include animations.fadeIn;
  }
}
