@use '@/styles/variables.scss' as var;
@use '@/styles/typekit.scss' as typekit;
@use '@/styles/utils.scss' as utils;
@use '@/styles/animations.module.scss' as animations;
@use '@/styles/breakpoints.module.scss' as bp;

$top-padding: 48px;
$mobile-side-padding: 48px;
$desktop-side-padding: 256px;

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: utils.pxToRem($top-padding) utils.pxToRem($mobile-side-padding);
  position: relative;
  @include animations.fadeIn;

  @include bp.desktop {
    padding: utils.pxToRem($top-padding) utils.pxToRem($desktop-side-padding);
  }
}

.title {
  display: flex;
  align-items: center;
  @include typekit.header;

  &Wave {
    position: absolute;
    width: utils.pxToRem(64px);
    top: calc($top-padding - 10px);
    left: $mobile-side-padding;
    transform: rotate(-15deg);

    @include animations.fadeIn;

    &Fade {
      @include animations.fadeOut;
    }

    @include bp.desktop {
      top: calc($top-padding - 20px);
      left: calc($desktop-side-padding - 20px);
    }
  }
}

.body {
  @include typekit.body;

  margin-top: utils.pxToRem(20px);

  &Fade {
    @include animations.fadeIn;
  }
}
